# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Secrets & config
.env
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/

# DVC
.dvc/tmp/

# Models & artifacts
*.pkl
*.model
*.h5
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
